{% autoescape on %}
<script type="text/template" id="memberDetailsContainerTpl">
    <div class="page-header">
        <h1>Member Details</h1>
    </div>
    <div class="section row">
        <div class="col-md-7 span7">
            <div class="member-details"></div>
        </div>
        <div class="col-md-5 span5">
            <div class="seva-details"></div>
        </div>
    </div>

</script>

<script type="text/template" id="memberDetailsTpl">
    <div class="row">
        <div class="col-md-4 center span2">
            <div class="thumbnail member-photo">
                <img src="<% if(photo){ %><%=photo%><%}else{%>/img/user.jpg<% } %>" class="img-responsive">
            </div>
            <div style="margin-top:10px;" id="file-uploader-<%= cid %>"></div>
            <div style="margin-top:10px;"><a href="/admin/members/<%= id %>/awardee/new">Add award</a></div>
        </div>

        <div class="col-md-8 span5" data-original-title="" title="">
            <div class="content-padding">
                <div>
                    <h4>
                        <span class="label label-info" title="Member Id"><%= mid %></span>
                        <span class="pull-right edit-member">
                            <small><a><i class="fa fa-fw fa-edit"></i>Edit</a></small>
                        </span>
                    </h4>
                </div>
                <div>
                    <h4>
                        <% if (salutation && salutation != null) {%>
                        <%= salutation %>
                        <% }else{ %>
                        Sri
                        <% } %>
                        <%= name %>
                        <% if (surname && surname != null) { %>
                        <%= surname %>
                        <% } %>
                    </h4>
                    <% if(place && place != "") { %>
                    <div style="margin-top:-2px;">
                        <span title="Place" style="text-transform:capitalize;"><i class="fa fa-fw fa-map-marker"></i> <%= place %></span>
                    </div>
                    <% } %>
                </div>

                <% if(email && email != "") { %>
                <div>
                    <span title="Email"><i class="fa fa-fw fa-envelope"></i> <%= email %></span>
                </div>
                <% } %>

                <% if(mobile && mobile != "") { %>
                <div>
                    <span title="Mobile"><i class="fa fa-fw fa-mobile"></i> <%= mobile %></span>
                </div>
                <% } %>
                <% if(phone && phone != "") { %>
                <div>
                    <span title="Phone"><i class="fa fa-fw fa-phone"></i> <%= phone %></span>
                </div>
                <% } %>


                <div>
                    <% if(gotram && gotram != ""){ %>
                    <span title="Gotram" class="gotra"><i
                            class="fa fa-fw fa-anchor"></i> <%= gotram %></span>
                    <% } %>
                    <% if(nakshatram && nakshatram != ""){ %>
                    <span title="Nakshatram" class="nakshatra">, <i class="fa fa-fw fa-star"></i> <%= nakshatram %></span>
                    <% } %>
                </div>

            </div>

            <div class="section">
                <div class="main-header">
                    <h4>Address
                    <span class="pull-right add-address">
                        <small><a><i class="fa fa-fw fa-plus"></i>Add</a></small>
                    </span>
                    </h4>
                </div>
                <div class="member-addresses"></div>
            </div>

            <div class="member-awards"></div>
        </div>
    </div>
</script>
{% endautoescape %}