{% autoescape on %}
<script type="text/template" id="awardTileTpl">
    <div class="award-tile" style="margin-left: -25px;">
        <h4>
            <i class="icon-hand-right"></i><span style="margin-left:10px;" align="pull-left">Nada Nidhi</span>
                <span class="pull-right edit-award" title="Edit award">
                    <i class="icon-edit"></i>
                </span>
        </h4>

        <div><%= description%></div>
        <div class="divider"></div>
    </div>
</script>
{% endautoescape %}