/* Hide header and footer */
#header,
#footer {
    display: none;
}

/* Enlarge the Content Area */
.container {
    float: none;
    margin: 0;
    width: 100%;
}

body {
    background: white; /*Reset the Background Colors*/
    font-size: 12pt; /* and set the font size to standard*/
}

/*Reset the Background Colors*/
.container {
    background: transparent;
}

.page-break {
    display: block;
    page-break-before: always;
}

.no-print {
    display: none;
}

.sf-toolbar {
    display: none;
}
