{% autoescape on %}
<script type="text/template" id="addressTileTpl">
    <div class="section box-border-bottom content-padding hover <% if (!isValid) { %>alert-danger alert<% } %>">
        <div class="pull-right edit-address hover-show">
            <small><a><i class="fa fa-fw fa-edit"></i>Edit</a></small>
        </div>
        <div class="pull-left">
            <% if (!isValid) { %>
            <div style="margin: 10px 0;"><strong>Invalid Address !!</strong></div>
            <% } %>
            <div><%= address%></div>
            <div><% if(city) { %><%=city%>, <% } %><% if(district) { %><%=district%>,<% } %><% if(state) { %><%=state%>,
                <%
                } %>
            </div>
            <div><% if(country) { %><%=country%><% } %> <%= pin%></div>
            <div><% if(phone && phone != "") { %><span title="Phone"><i class="icon-phone"></i> <%= phone%></span><% }
                %>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</script>
{% endautoescape %}